{%extends 'layout.html'%}
{% block content %}

<div class="main-wrapper">
    <div class="home-content">
        <div class="st-text-center">
            <h5>
                Nossos serviços são de qualidade e os mais baratos do mercado e com 100% de
                qualificação no mercado livre!! contate-nos para mais informações.
            </h5>

            <img class="diamond-photo" src="static/img/diamond.png">
        </div>
        <div class="second-text-center">x
        	<h5>
                Nossa equipe é composta por jogadores do elo tier mestre pra cima, pode confiar que sua
                conta está em boas mãos! Não usamos o chat e temos nosso jeitinho de desativa-los.
        	</h5>


        </div>
    </div>
</div>




{%endblock content%}