{%extends 'layout.html'%}
{% block content %}

<div class="main-wrapper">
	<div class="inicio">
		<div class="home-first-text">			
			<h5> <span> Nós somos a  </span> <span> High Elo Jobs </span> </h5>
		</div>
		<div class="carousel-ad">
			<div id="text-slider" class="owl-carousel owl-theme" style="padding-bottom: 15px;">
				<div class="item" style="width:800px; "><h4> HIGH ELO 2021</h4></div>
				<div class="item" style="width:800px"><h4> MELHORES PREÇOS</h4></div>
				<div class="item" style="width:800px"><h4> MELHORES BOOSTERS</h4></div>
				<div class="item" style="width:800px"><h4> MAIS RÁPIDOS</h4></div>
				<div class="item" style="width:800px"><h4> C O N F I Á V E I S</h4></div>	
			</div>
		</div>
		<div class="home-second-text">
            A High Elo, sem dúvidas é a melhor organização se você busca custo-benefício. Prezamos sempre por serviços rápidos, discretos e baratos. mantendo nossa transparência e responsabilidade com nossos clientes.
		</div>
		<div class="home-third-text">
            Somos uma empresa com 5 anos de mercado, segue alguns dos serviços concluidos em seasons anteriores:
		</div>
		<div>
			<div id="photo-slider" class="owl-carousel owl-theme" style="padding-top: 15px;">
					<div class="item" style="width:375px;padding:0">
			    		<img class="photos-box" src="static/img/elojobs/d2.png">
					</div>
					<div class="item" style="width:375px;padding:0">
			    		<img class="photos-box" src="static/img/elojobs/2.png">
					</div>
					<div class="item" style="width:375px;padding:0">
			    		<img class="photos-box" src="static/img/elojobs/3.png">
					</div>
					<div class="item" style="width:375px;padding:0">
			    		<img class="photos-box" src="static/img/elojobs/4.png">
					</div>
					<div class="item" style="width:375px;padding:0">
			    		<img class="photos-box" src="static/img/elojobs/5.png">
					</div>
					<div class="item" style="width:375px;padding:0">
			    		<img class="photos-box" src="static/img/elojobs/6.png">
					</div>
					<div class="item" style="width:375px;padding:0">
			    		<img class="photos-box" src="static/img/elojobs/7.png">
					</div>
			</div>
		</div>

	</div>
</div>

{%endblock content%}