{%extends 'layout.html'%}
{% block content %}

<div class="main-wrapper">
	<div class="inicio">
		<div class="home-first-text">			
			<h5> <span> Nós somos a  </span> <span> High Elo Jobs </span> </h5>
		</div>
		<div class="owl-carousel owl-theme owl-loaded owl-drag">
			<div class="owl-stage-outer">
				<div class="owl-stage">
					<img class="box-filme" src="static/img/bg_lux.jpg">
				</div>
				<div class="owl-stage">
					<img class="box-filme" src="static/img/bg_lux.jpg">
				</div>
				<div class="owl-stage">
					<img class="box-filme" src="static/img/bg_lux.jpg">
				</div>
			</div>
		</div>
	</div>
		<div class="home-second-text">			
		</div>
</div>

{%endblock content%}