<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title> High Elo Jobs | </title>
</head>
<body>
<div class="wrapper">
      <div>
        <div class="links-nav">
          <a href="/">          
            <img class="logo" src="static/img/logo.png" >
          </a>
          <h3><a href="/" class="links">Início </a></h3>
          <h3><a href="/calc" class="links">Elojob </a></h3>
          <h3><a href="/about" class="links">FAQ</a></h3>

          <div class="login-wrapper">
            {% if current_user.is_authenticated %}
              <button onclick="location.href='/logout'" class="login"> Logout</button>
            {% else %}
              <button onclick="location.href='/login'" class="login"> Login</button>
              <button onclick="location.href='/register'" class="cadastro"> Comece agora</button>
            {% endif %}
          </div>
      </nav>  

    </div>
  <div class="wrapper">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {%if messages %}
        {% for category, message in messages%}
          <div class="alert-class">
            {{ message}}
          </div>
        {% endfor %}
      {% endif%}
    {% endwith%}
    {%block content %}
    {% endblock %}
  </div>
</div>
<footer class="main-footer">
  <div class=top-footer>
      <div class="footer-left-wrapper">
          <div>
            <h5>
            A High Elo Jobs, sem dúvidas, é a melhor organização se você busca custo-benefício. Prezamos sempre por serviços rápidos, discretos e baratos. mantendo nossa transparência e responsabilidade com nossos clientes.
            </h5>
          </div>
          <div class="cards-accepted">
            <img srcset="static/img/payment-methods.png">
          </div>
          </div>
          <div class="footer-left-wrapper">
            <h5 style="font-size:28px"> Referências </h5>
              <div class=wrapper-footer-links>
                <div class=right-footer-wrapper-link>
                  <img class="logos-footer"srcset="static/img/facebook-logo.png">
                  <img class="logos-footer" srcset="static/img/ml-logo.png">
                </div>
                <div class="right-footer-wrapper-link">
                  <a class="footer-links" href="https://www.facebook.com/HlGH.Elo">Facebook </a>
                  <a class="footer-links" href="https://www.mercadolivre.com.br/perfil/HIGHELO">Mercado Livre</a>
                </div>
              </div>
          </div>
          <div class="logo-footer">
              <img class="center-lol-img" src="static/img/lol-white-logo.png">
          </div>
  </div>
  <div class="bottom-footer"><h5>
      League of Legends é uma marca registrada da Riot Games, Inc. Nós não somos de nenhuma forma afiliados, associados ou endossado pela Riot Games, Inc. Todos os direitos autoriais, marcas, imagens e marcas de serviço pertencem a seus respectivos proprietários.</h5>
  </div>
</footer>
</body>
</html>