<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title> High Elo Jobs | </title>
</head>
<body>
<div class="wrapper">
      <div>
        <div class="links-nav">
          <a href="/">          
            <img class="logo" src="static/img/logo.png" >
          </a>
          <h3><a href="/" class="links">Início </a></h3>
          <h3><a href="/calc" class="links">Elojob </a></h3>
          <h3><a href="/about" class="links">FAQ</a></h3>

          <div class="login-wrapper">
            {% if current_user.is_authenticated %}
              <button onclick="location.href='/logout'" class="login"> Logout</button>
            {% else %}
              <button onclick="location.href='/login'" class="login"> Login</button>
              <button onclick="location.href='/register'" class="cadastro"> Comece agora</button>
            {% endif %}
          </div>
      </nav>  

    </div>
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {%if messages %}
        {% for category, message in messages%}
          <div class="alert-class">
            {{ message}}
          </div>
        {% endfor %}
      {% endif%}
    {% endwith%}
    {%block content %}
    {% endblock %}
  </div>
</div>
<footer class="footer-wrapper" style="display: flex;color:white;">
  League of Legends é uma marca registrada da Riot Games, Inc. Nós não somos de nenhuma forma afiliados, associados ou endossado pela Riot Games, Inc. Todos os direitos autoriais, marcas, imagens e marcas de serviço pertencem a seus respectivos proprietários.     
</footer>
</body>
</html>