<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title> High Elo Jobs | </title>
</head>
<body>
<div class="wrapper">
      <div>
        <div class="links-nav">
          <a href="/">          
            <img class="logo" src="static/img/logo.png" >
          </a>
          <h3><a href="/" class="links">Início </a></h3>
          <h3><a href="/calc" class="links">Elojob </a></h3>
          <h3><a href="/about" class="links">FAQ</a></h3>

          <div class="login-wrapper">
            <button onclick="location.href='/login'" class="login"> Login</button>
            <button onclick="location.href='/register'" class="cadastro"> Comece agora</button>
          </div>
      </div>  

    </div>
  <div class="container">
    {%block content %}

    {% endblock %}
  </div>
</div>

</body>
</html>