{%extends 'layout.html'%}
{%block content%}
<div class="main-wrapper">
    <div class="forms">
            <form class="caixinha-loka"method="POST" action="">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <div class="border-bottom">
                    <div class="form-group">
                        {{form.username.label(class="")}}
                        {{form.username(class="")}}
                    </div>
                    <div class="form-group">
                        {{form.password.label(class="")}}
                        {{form.password(class="")}}
                    </div>
                    <div class="form-group">
                        {{form.confirm_password.label(class="")}}
                        {{form.confirm_password(class="")}}
                    </div>
                    <div class="form-group">
                        {{form.submit(class="buttonbar")}}
                    </div>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Já tem conta? <a class="ml-2" href="{{url_for('login')}}" style="color:white"> Entre aqui. </a>
                        </small>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</div>

{%endblock%}