
/* comum-reset */

*{ padding:0px;
	margin:0px;
	font-family:sans-serif, serif;
	font-size:16px;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0;
	background: linear-gradient(to top, rgba(65, 90, 135,0.4), rgba(43, 65, 105,0.75)), url(img/background.png);
	background-size: cover;
}


/* nav-bar */
.wrapper{	
	display:flex;
	margin: 10px 0;
	background: center;
	flex-direction: column;
	align-items: center;

	width:100%;;
}

.links-nav{	
	/*background:#2d2d30;
	border-radius: 3%;*/
	align-items: center;
	display:flex;
	flex-direction: space-between;
	padding:10px 35px;
}

.links-nav .links:hover{
	color:white;
}

.links-nav .links{
	color:#e7e6f0;
	padding:50px;
	display:flex;
}

.links{display:flex;
	margin:0 35px;
	font-weight:100;
	text-decoration: none;
}

.links-nav .login-wrapper{

	display: flex;
	margin-left: 180px;
}

.login-wrapper button{	
	border:none;
	border-radius: 10%;
	padding:10px 18px;
	margin: 15px;
	background: #2d2c33;
	color:white;

	cursor:pointer;
	transition: .3s ease all;
}

.login-wrapper button:hover{
	border:none;
	color:black;
	background:white;
}

.logo{
	display:flex;
	width:72%;
}

/* main-wrapper layout*/

.main-wrapper{
	display:flex;
	background:#2d2d30;


	width: 1000px;
	height:40em;
	opacity: 1;
	justify-content:center;
}


/* calculator */
.containter-calc{
	display:flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}

.calcs-columns{
	flex-direction: row;
	display:flex;
	justify-content: center;
}

.home-content{
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
}

/* FAQ*/
.home-content h5{
	font-size:20px;
	font-weight: 100;
	color:white;

	width:55%;
	padding:30px;
}

.diamond-photo{
	display:flex;
	width:14%;
	padding: 8px;
}

.st-text-center{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}


.second-text-center{	
	background: rgba(0, 0, 0,0.3);
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.master-photo{
	display:flex;
	width:16%;
	padding-bottom: 4px;
}
.third-text-center{height: 100%;
	justify-content: center;
	align-items: center;
	display:inline-flex;
	flex-direction: row;
}

.link-ml{	
	color:#5da6d4;
	font-weight: 700;
	text-decoration-line: none;
	font-size:20px;
	font-weight: 100;

}

.ml-img{
	width:90px;
	height: 90px;
}


/* Inicio */

@font-face{
	font-family: sc;
	src:url('fonts/StrawberryCupcakes.ttf');
}

.inicio{display:flex;

	align-items: center;
	flex-direction: column;
}

.inicio h5{
	font-weight: 100;
	display:flex;
	color:white;
	width:100%;
	margin-top: 35px;
	padding:30px;
}

.home-first-text  h5{
	display:flex;
	font-size:28px;
	align-items: center;
}

.home-first-text h5 span:first-child{
	font-family: sc, sans-serif;
	color:#93a1c9;

	font-size:46px;
	font-weight: 250;
	margin-right:8px ;
}


.home-first-text h5 span{
	font-size: 32px;
	font-family:Arial, sans-serif;
	font-weight: 650;
	color:#5da6d4;	align-items: center;
}


#text-slider .owl-stage {
	max-width: 800px;
  display: flex;
}
#photo-slider .owl-stage {
	max-width: 900px;
  display: flex;
}

.owl-carousel .item h4{	
	font-size: 48px;
	color: white;
	text-align: center;

}

.owl-carousel .item {
	text-align: center;

	display: block;

}

.home-second-text {
	width: 90%;
	text-align: center;
	color: #d1d1d1;
	font-size: 18px;
}

.home-third-text {
	padding-top: 10px;
	width: 90%;
	text-align: center;
	color: #d1d1d1;
	font-size: 18px;
}

.photos-box{
	max-width: 100%;
	height: 100%;
	display: block;
}

.owl-carousel .photos .item {
	height: auto;
}


.center-lol-img{display:flex;
	width:230px;
	height:auto;
}

.inicio-center-text h1{
width: 90%;

padding:30px;
color:white;
border-radius: 2%;
padding-bottom: 50px;

font-family:Arial, sans-serif;
font-size:46px;
font-weight: 500;
}

.forms{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.border-bottom{
	text-align: center;
	color: white;
	border-radius: 15px;
	padding: 30px;
	background: rgba(0, 0, 0,0.7);
}

.form-group{
	display: flex;
	margin: 10px;
	padding: 0px 15px;
	border: none;
	justify-content: center;
}

.alert-class{
	font-size: 24px;
	text-align: center;
	color: green;
}

/* footer */
.main-footer{
	width: 88%;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background:#242426;
	opacity: 0.80;

}

.top-footer{
	align-items: center;
	justify-content:space-around;
	display: flex;
	flex-direction: row;
}

.top-footer h5{
	text-align: center;
	font-weight: 100;
	margin: 15px;
	color: #e7e6f0;
}


.footer-left-wrapper{
	width: 32%;
	display: flex;
	flex-direction: column;
}
.cards-accepted{
	margin: 15px;
	display: flex;
}

.bottom-footer h5{
	width: 98%;
	justify-content:center;
	text-align: center;
	font-weight: 100;
	margin: 15px;
	color: #e7e6f0;

}

.footer-links {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 12.5px 10px;

	color:#5da6d4;

	font-weight: 700;
	text-decoration-line: none;
	font-size:20px;
	font-weight: 100;
}
.wrapper-footer-links{
	justify-content: center;
	flex-direction: row;
	display: flex;
}
.right-footer-wrapper-link{
	flex-direction: column;
	display: flex;
}

.logos-footer{
	display: flex;
	width:50px;
	height: 50px;
}
.logo-footer{
	display: flex;
	justify-content: center;
	align-items: center;
}