
/* comum-rest */

*{ padding:0px;
	margin:0px;
	font-family:sans-serif, serif;
	font-size:16px;
}

/* nav-bar */

.wrapper{
	background: url(img/bg_lux.jpg);
	display:flex;
	flex-direction: column;
	align-items: center;
	width:100%;
	height:50em;
}
.links-nav{
	align-items: center;
	display:flex;
	flex-direction: space-between;
	padding:20px 35px;
}
.links-nav .links:hover{
	color:white;
}
.links-nav .links{
	color:#e7e6f0;
	padding:0 50px;
	display:flex;
}
.links{display:flex;
	margin:0 35px;
	font-weight:100;
	text-decoration: none;
}

.links-nav .login-wrapper{

	display: flex;
	margin-left: 180px;
}

.login-wrapper button{	
	border:none;
	border-radius: 10%;
	padding:10px 18px;
	margin: 15px;
	background: #2d2c33;
	color:white;

	cursor:pointer;
	transition: .3s ease all;
}

.login-wrapper button:hover{
	border:none;
	color:black;
	background:white;
}


.logo{
	display:flex;
	width:72%;
}

/* margin:  page*/


.main-wrapper{display:flex;
	background:#2d2d30;
	border-radius: 3%;
	

	width: 850px;
	height:35em;
	opacity: 0.90;

	justify-content:center;
}


/* calculator */

.containter-calc{
	display:flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}

.calcs-columns{
	flex-direction: row;
	display:flex;
	justify-content: center;
}

.home-content{
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
}

/* FAQ*/

.home-content h5{
	font-size:20px;
	font-weight: 100;
	color:white;

	width:55%;
	padding:30px;
}

.diamond-photo{
	display:flex;
	width:16%;
}

.st-text-center{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}


.second-text-center{	
	background: rgba(0, 0, 0,0.3);
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.master-photo{
	display:flex;
	width:18%;
}
.third-text-center{height: 100%;
	justify-content: center;
	align-items: center;
	display:inline-flex;
	flex-direction: row;
}

.link-ml{	
	color:#5da6d4;
	font-weight: 700;
	text-decoration-line: none;
	font-size:20px;
	font-weight: 100;

}




.ml-img{
	width:90px;
	height: 90px;
}

/* Inicio */
@font-face{
	font-family: sc;
	src:url('fonts/StrawberryCupcakes.ttf');
}

.inicio{display:flex;

	align-items: center;
	flex-direction: column;

}

.inicio h5{
	font-weight: 100;
	display:flex;
	color:white;
	width:100%;
	margin-top: 35px;
	padding:30px;
}

.home-first-text  h5{
	display:flex;
	font-size:28px;
	align-items: center;
}
.home-first-text h5 span:first-child{
	font-family: sc, sans-serif;
	color:white;

	font-size:46px;
	font-weight: 250;
	margin-right:8px ;
}
.home-first-text h5 span{
	font-size: 32px;
	font-family:Arial, sans-serif;
	font-weight: 650;
	color:#5da6d4;
}

.center-lol-img{display:flex;
	width:230px;
	height:auto;
}

.inicio-center-text h1{
	
	width: 90%;

	padding:30px;
	color:white;
	border-radius: 2%;
	padding-bottom: 50px;

	font-family:Arial, sans-serif;
	font-size:46px;
	font-weight: 500;
}