{%extends 'layout.html'%}
{% block content %}

<div class="main-wrapper">

		<div class="containter-calc">
					    <div id="label">
					        <h2>Calcule seu elo desejado aqui!</h2>
					    </div>
				<div class= "calcs-columns">
					<div class=column1-calc>

					    <div>
							<button id="singleSelectDD" class="calc1-button" onclick="singleSelectChangeValue()">Go</button>
					    </div>	
					    <div>
					    	<form >
						    	<select name="comp_select">
						    		<option>BRONZE</option>
						    		<option>PRATA</option>
						    		<option>OURO</option>
						    		<option>PLATINA</option>
						    		<option>DIAMANTE</option>
						    		<option>MESTRE+</option>
						    	</select>
					    	</form>
					    </div>
				    </div>
				    <div class=column2-calc>
					    <div >
					        <button class="calc-button">go</button>
					    </div>	
					    <div>
					    	<select>
					    		<option>BRONZE</option>
					    		<option>PRATA</option>
					    		<option>OURO</option>
					    		<option>PLATINA</option>
					    		<option>DIAMANTE</option>
					    		<option>MESTRE+</option>
					    	</select>
					    </div>
				    </div>
			    </div>
		</div>	

</div>




{%endblock content%}